fastapi
pyjwt
passlib
starlette
sqlalchemy
pydantic
itsdangerous
celery
pydantic_settings
redis
weasyprint
pytest
pytest_asyncio
httpx
uvicorn
alembic
aio_pika
dotenv
email-validator
aiomysql
jinja2
cryptography>=41.0.0

